.quiz {
    &__title {
        margin-bottom: 20px;
        
    }
    &__question {
        margin-bottom: 16px;
    }
    &__question-item {
        margin: 5px 0;
        input {
            margin: 0 8px 0 15px;
            cursor: pointer;
        }
        label {
            cursor: pointer;
        }
    }
}